<!doctype html>
<html lang="en">
  <title>Simon Gate</title>
  <meta charset="utf-8">
  <meta name="descripton" content="Simon Gate, software developer.">
  <meta name="keywords" content="simon gate, simon, gate, developer, programming, ruby, javascript, php, ios, smgt, html, css, html5, css3, redis, mysql">
  <link href="/stylesheets/base.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="payment" href="https://flattr.com/submit/auto?url=https%3A%2F%2Fsmgt.me%2F&amp;user_id=smgt" type="text/html" />
  <body>
    <%= yield %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-149323-12']);
      _gaq.push(['_setDomainName', 'smgt.me']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '4f4f62c7844d52289400011a');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
</script>
  </body>
</html>
