<!doctype html>
<html lang="en">
  <!--
  .d8888. .88b  d88.  d888b  d888888b
  88'  YP 88'YbdP`88 88' Y8b `~~88~~'
  `8bo.   88  88  88 88         88
    `Y8b. 88  88  88 88  ooo    88
  db   8D 88  88  88 88. ~8~    88
  `8888Y' YP  YP  YP  Y888P     YP

  Background image by Jonas Wiklund < http://www.flickr.com/photos/wiklund/ >
  -->
  <title><%= data.page.title || "Simon Gate" %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta name="descripton" content="Simon Gate, software developer.">
  <meta name="keywords" content="simon gate, simon, gate, developer, programming, ruby, javascript, php, ios, smgt, html, css, html5, css3, redis, mysql">
  <script type="text/javascript" src="//use.typekit.net/kga4cac.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag "normalize", "base" %>
  <%= javascript_include_tag  "all" %>
  <link rel="payment" href="https://flattr.com/submit/auto?url=https%3A%2F%2Fsmgt.me%2F&amp;user_id=smgt" type="text/html" />
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-149323-12']);
      _gaq.push(['_setDomainName', 'smgt.me']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

    </script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
       var t   = document.createElement('script');
       t.type  = 'text/javascript';
       t.async = true;
       t.id    = 'gauges-tracker';
       t.setAttribute('data-site-id', '4f4f62c7844d52289400011a');
       t.src = '//secure.gaug.es/track.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(t, s);
       })();
</script>
  </body>
</html>
