body, html {
  padding: 0;
  margin: 0;
  font-size: 100%;
}

body {
  background-color: #1d1d18;
  color: #eeeeee;
  font-family: "Open Sans", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 2em;
}

a:link, a:visited, a:hover, a:active {
  color: #eeeeee;
  padding: 0 3px;
  text-decoration: none;
}

.contact {
  position: absolute;
  bottom: 23px;
  right: 12px;
}
.contact img {
  float: right;
}
.contact strong {
  color: #41413c;
  width: 150px;
  display: inline-block;
  text-align: right;
  padding-right: 0.5em;
}

.hide {
  display: none;
}

@media only all and (max-width: 1024px) and (max-height: 768px) {
  body {
    -moz-background-size: 1024px 768px;
    background-size: 1024px 768px;
  }
}
