<div class="contact">
  <div class="me-image"></div>
    <div class="vcard">
      <div><strong>tel</strong><span class="tel"><span class="type is-hidden">Work</span><span class="value"><a href="callto:+46708547400">+46&nbsp;(0)708-54&nbsp;74&nbsp;00</a></span></span></div>
      <div><strong>jabber</strong><a href="xmpp:simon@smgt.me" class="im">simon@smgt.me</a></div>
      <div><strong>email</strong><a class="email" href="mailto:simon@smgt.me">simon@smgt.me</a></div>
      <div><strong>google+</strong><a class="url" rel="me" href="https://plus.google.com/107597558352716614158">Simon Gate</a></div>
      <div><strong>twitter</strong><a class="url" rel="me" href="http://twitter.com/simongate">@simongate</a></div>
      <div><strong>app.net</strong><a class="url" rel="me" href="https://alpha.app.net/smgt">@smgt</a></div>
      <div><strong>github</strong><a class="url" rel="me" href="https://github.com/smgt">@smgt</a></div>
      <div class="is-hidden"><strong>flickr</strong><a class="url" rel="me" href="http://flickr.com/photos/simongate/">simongate</a></div>
      <div class="fn is-hidden">Simon Gate</div>
      <div class="adr is-hidden">
        <div class="street-address">Algatan 36B</div>
      <div>
      <span class="postal-code">211 46</span>&nbsp;<span class="locality">Malmö</span>
      <div class="country-name">Sverige / Sweden</div>
    </div>
  </div>
  <div class="is-hidden"><abbr class="bday" title="1982-07-07">July 07, 1982</abbr></div>
  <div class="is-hidden"><a href="http://smgt.me" class="url">http://smgt.me</a></div>
</div>
